<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        
    </script>
</head>

<body onload="loadFunctionality()">
    <div id="container">
        <div id="div1">

            <h4>
                
                <%=User.username%> Successfully Login
            </h4>


        </div>
    </div>

</body>

</html>